
.star{
    color: #e76f51;
}
/* top-banner */
.bg-background{
    background-color: #264653;
}
/* header  */
#filter-uses{
    filter: grayscale(100%);
}
/* button-color  */
.button-color{
    background-color: #e76f51;
    padding: 5px;
    border-radius: 10px;
}
/* Fetured Bikes  */
.text-color{
    color:#0a0826;
}
.ceneter-color{
    color:#ea8066;
}
/* Happy Clients says   */
.regina-color{
    color:#36aef1;
}
/* feture q. asked  */
.btn btn-color-droupdown{
    background-color: lightslategrey;
    
   
}
